@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #171717;
}
/* 나중에 다크모드 만들때 쓸 것 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9fafb;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
